<nav role="navigation" class="navbar navbar-default navbar-sm" style="border-radius: 0">
    <div id="bs-example-navbar-collapse-3" class="collapse navbar-collapse" style="padding-left: 0px;">
        <div class="collapse navbar-collapse navbar-collapse-01" style="padding-left: 0px;">
            <ul class="nav navbar-nav ">
                <li class="dropdown">
                    <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">Terrain<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <md-menu-item><md-button ng-click="rollTable('Alpine & Mountains')">Alpine & Mountian<span class="md-alt-text"></span></md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="rollTable('Rough & Rugged Hills')">Rough & Rugged Hills<span class="md-alt-text"></span></md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="rollTable('Underground')">Underground<span class="md-alt-text"></span></md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="rollTable('Waste & Barren')">Waste & Barren<span class="md-alt-text"></span></md-button></md-menu-item>
                    </ul> <!-- /Sub menu -->
                </li>
                <li class="dropdown">
                    <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">Special Features<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <md-menu-item><md-button ng-click="rollTable('X-Over Points')">X-Over Points</md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="rollTable('Burial Areas')">Burial Areas<span class="md-alt-text"></span></md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="rollTable('Ruins')">Ruins<span class="md-alt-text"></span></md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="rollTable('Enchanted Areas')">Enchanted Areas<span class="md-alt-text"></span></md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="rollTable('Cavern Complexes')">Cavern Complexes<span class="md-alt-text"></span></md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="rollTable('Cave Entrances/Lairs')">Cave Entrances/Lairs<span class="md-alt-text"></span></md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="rollTable('Rural Areas')">Rural Areas<span class="md-alt-text"></span></md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="rollTable('Near Urban Areas')">Near Urban Areas<span class="md-alt-text"></span></md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="rollTable('Volcanic Areas')">Volcanic Areas<span class="md-alt-text"></span></md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="rollTable('Battlefields')">Battlefields<span class="md-alt-text"></span></md-button></md-menu-item>
                    </ul> <!-- /Sub menu -->
                </li>
                <li class="dropdown">
                    <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">Vegetation<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <md-menu-item><md-button ng-click="rollTable('Plains & Grasslands')">Plains & Grasslands</md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="rollTable('Heath & Scrublands')">Heath & Scrublands<span class="md-alt-text"></span></md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="rollTable('Coniferous Forest')">Coniferous Forest<span class="md-alt-text"></span></md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="rollTable('Decid./Mixed Forest')">Decid./Mixed Forest<span class="md-alt-text"></span></md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="rollTable('Jungle & Rain Forest')">Jungle & Rain Forest<span class="md-alt-text"></span></md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="rollTable('Tundra')">Tundra<span class="md-alt-text"></span></md-button></md-menu-item>
                    </ul> <!-- /Sub menu -->
                </li>
                
                <li class="dropdown">
                    <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">Water Source<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <md-menu-item><md-button ng-click="rollTable('Freshwater Coasts')">Freshwater Coasts</md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="rollTable('Lakes & Rivers')">Lakes & Rivers<span class="md-alt-text"></span></md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="rollTable('Marshes & Swamps')">Marshes & Swamps<span class="md-alt-text"></span></md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="rollTable('Isolated Water Source')">Isolated Water Source<span class="md-alt-text"></span></md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="rollTable('Saltwater Shores')">Saltwater Shores<span class="md-alt-text"></span></md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="rollTable('Ocean')">Ocean<span class="md-alt-text"></span></md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="rollTable('Islets & Atolls')">Islets & Atolls<span class="md-alt-text"></span></md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="rollTable('Glaciers & Snowfields')">Glaciers & Snowfields<span class="md-alt-text"></span></md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="rollTable('Desert & Near Desert')">Desert & Near Desert<span class="md-alt-text"></span></md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="rollTable('Breaks and Wadis')">Breaks and Wadis<span class="md-alt-text"></span></md-button></md-menu-item>
                    </ul> <!-- /Sub menu -->
                </li>
                
                <li class="dropdown">
                    <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">Civilized Areas<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <md-menu-item><md-button ng-click="rollTable('Civilized Areas Rural')">Rural</md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="rollTable('Civilized Areas Town')">Town</md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="rollTable('Civilized Areas City')">City</md-button></md-menu-item>
                    </ul> <!-- /Sub menu -->
                </li>
                
                 <li class="dropdown">
                    <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">Border Areas<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <md-menu-item><md-button ng-click="rollTable('Civilized Areas Rural')">Rural</md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="rollTable('Civilized Areas Town')">Town</md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="rollTable('Civilized Areas City')">City</md-button></md-menu-item>

                        <md-menu-item><md-button ng-click="rollTable('Border Areas Rural')">Rural</md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="rollTable('Border Areas Town')">Town</md-button></md-menu-item>
                    </ul> <!-- /Sub menu -->
                </li>               
                <li class="dropdown">
                    <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">Wild Areas<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <md-menu-item><md-button ng-click="rollTable('Wild Areas Normal')">Rural</md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="rollTable('Wild Areas Magic')">Town</md-button></md-menu-item>
                    </ul> <!-- /Sub menu -->
                </li>
                <li class="dropdown">
                    <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">Hostile Areas<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <md-menu-item><md-button ng-click="rollTable('Hostile Areas Rural')">Rural</md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="rollTable('Hostile Areas Town')">Town</md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="rollTable('Hostile Areas City')">City</md-button></md-menu-item>
                    </ul> <!-- /Sub menu -->
                </li>
                <li class="dropdown">
                    <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">Univ.<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <md-menu-item><md-button ng-click="rollTable('Universal Monsters')">Universal Monsters</md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="rollTable('Universal Animals')">Universal Animals<span class="md-alt-text"></span></md-button></md-menu-item>
                    </ul> <!-- /Sub menu -->
                </li>
            </ul>

            <!--<form role="search" class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" placeholder="Search" class="form-control">
                </div>
                <button class="btn btn-default" type="submit">Submit</button>
            </form>
        </div><!--/.nav -->
    </div>
</nav>

<div class="page-container">
    <div class="page">
        <div class="row" style="margin: 20px;">
            <div class="col-lg-6" ng-repeat="creature in data.creatures track by $index">
                <span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true" ng-click="closeCard($index)"></span>
                <canvas drawing  width="760" height="525" ng-model="creature" style="border:1px solid #d3d3d3;">
                    
                </canvas>
                <br/>
            </div>
        </div>
    </div>
</div>