<nav role="navigation" class="navbar navbar-default navbar-sm" style="border-radius: 0">
    <div id="bs-example-navbar-collapse-3" class="collapse navbar-collapse" style="padding-left: 0px;">
        <div class="collapse navbar-collapse navbar-collapse-01" style="padding-left: 0px;">
            <ul class="nav navbar-nav ">
                <li class="dropdown">
                    <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">Creatures<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <md-menu-item><md-button ng-click="rollTable('treasure', 'generate', '')">Very Poor</md-button></md-menu-item>
                    </ul> <!-- /Sub menu -->
                </li>
                <li class="dropdown">
                    <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">Magic<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <md-menu-item><md-button ng-click="rollTable('treasure', 'magic', 'verypoor')">Very Poor</md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="rollTable('treasure', 'magic', 'poor')">Poor<span class="md-alt-text"></span></md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="rollTable('treasure', 'magic', 'normal')">Normal<span class="md-alt-text"></span></md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="rollTable('treasure', 'magic', 'rich')">Rich<span class="md-alt-text"></span></md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="rollTable('treasure', 'magic', 'veryrich')">Very Rich<span class="md-alt-text"></span></md-button></md-menu-item>
                    </ul> <!-- /Sub menu -->
                </li>
                <li class="dropdown">
                    <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">Money<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <md-menu-item><md-button ng-click="rollTable('treasure', 'money', 'verypoor')">Very Poor</md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="rollTable('treasure', 'money', 'poor')">Poor<span class="md-alt-text"></span></md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="rollTable('treasure', 'money', 'normal')">Normal<span class="md-alt-text"></span></md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="rollTable('treasure', 'money', 'rich')">Rich<span class="md-alt-text"></span></md-button></md-menu-item>
                        <md-menu-item><md-button ng-click="rollTable('treasure', 'money', 'veryrich')">Very Rich<span class="md-alt-text"></span></md-button></md-menu-item>
                    </ul> <!-- /Sub menu -->
                </li>
            </ul>
        </div>
    </div>
</nav>  
<div class="page-container">
    <div class="page">
      
    </div>
</div>